
#app {
    height: 2000px;
}

#bar {
    position: fixed;
    width: 100%;
    height: 65px;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0 10px 0;
    background-color: #2222ff;
}

#bar_btn {
    position: relative;
    width: 65px;
    height: 65px;
    background-color: #2222ff;
    outline: none;
    border: 0;
    text-align: center;

}

.sidebar {
    position: fixed;
    width: 20%;
    height: 100vh;
    background-color: lightgray;
    z-index: 200;
    left: -20%;
    top: 65px;
    /*animation-name: sidebar_hide;*/
    /*animation-duration: 800ms;*/
    /*animation-iteration-count: +1;*/
    /*animation-fill-mode: forwards;*/
    transition: transform 800ms;
}


.sidebar_hide {
    transform: translateX(0);

}
.sidebar_show {
    transform: translateX(100%);
}

.sidebar button {
    width: 100%;
    height: 55px;
    background-color: lightgray;
    text-align: center;
    font-size: 18px;
    /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
    border: none;
    outline: none;
    padding: 0;
}
.sidebar button:active {
    background-color: darkgray;

}

.sidebar table tr {
    margin: 0;
}
.sidebar a {
    text-decoration: none;
}